@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@tailwind base;

@layer base {
	html {
		@apply text-[#4f4f4f];
	}
	html.dark {
		@apply text-neutral-50;
		@apply bg-neutral-800;
	}
}

@tailwind components;
@tailwind utilities;

body {
	color: #091f2c;
}

ul,
li,
a {
	text-decoration: none;
}

.tradingview-widget-copyright {
	display: none;
}

.account__sub,
.about__sub,
.trading__sub,
.platform__sub,
.tools__sub,
.news__sub {
	display: none;
}

.account:hover .account__sub {
	display: flex;
}

.account:hover {
	background: #000;
}

.about:hover .about__sub {
	display: flex;
}

.trading:hover .trading__sub {
	display: flex;
}

.platform:hover .platform__sub {
	display: flex;
}

.tools:hover .tools__sub {
	display: flex;
}

.news:hover .news__sub {
	display: flex;
}
